.contenedor {
    position: fixed; /* Posición fija para que el chat flote */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    width: 400px; /* Ancho del chat */
    background-color: #09f; /* Color de fondo del chat */
    border: 2px solid #ccc; /* Borde del chat */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(180, 14, 33, 0.1); /* Sombra */
  }

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 60vh;
    margin: 10px auto;
  }
  
  .chat-box {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
  }
  
  .message {
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
  }
  
  .received {
    background-color: #d4e1f4;
  }
  
  .sent {
    background-color: #b7e0d2;
    align-self: flex-end;
  }
  
  .typing {
    background-color: #09f;
    border-radius: 5px;
    animation: typing-animation 1.5s infinite;
  }
  
  @keyframes typing-animation {
    0% { opacity: 0.2; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  